<h1> All Meetups </h1>
<p><a href="/meetups/new">Add your own Meetup</a></p>

<ul>
<% @meetup.each do |meet| %>
<li>
<a href= "meetups/<%= meet.id %>"><%= meet.name %> <%= meet.location %></a>
</li>
<%end%>
</ul>
